
/* estilização dos formulários nas páginas de informações */
/* img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 200;
}

.imagem {
    height: 20vh;
    width: 20vw;
    max-height: 60vh;
    min-height: 50vh;
    max-width: 30vw;
    min-width: 20vw;
    position: relative;
    overflow: hidden;
    border-radius: 10vh;
    border: 1vh solid #babac117;
}

.imagem::after {
    content: "";
    position: absolute;
    background: #191928;
    height: 20vh;
    width: 20vw;
    max-height: 60vh;
    min-height: 50vh;
    max-width: 30vw;
    min-width: 20vw;
    inset: 0;
    border-radius: 9vh;
    border: #191928;

}

.coluna-informacoes {
    height: 40vh;
    width: 60vw;
}

.informacoes_personagens {
    text-decoration: none;
    color: #d3d1d1d1;
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    /* grid-template-rows: 1fr; */
    /* place-items: center;
    grid-template-columns: repeat(auto-fill, 50%); */
    /* height: 100%; */
/* }

.informacoes_personagens--linha {
    display: inline-block;
    text-align: center;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */ 
/* final da estilização dos formulários nas páginas de informações */








form a{
    text-decoration: none;
    color: #d3d1d1d1;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
}

html {
    background-color: #6a6acc;
}
body{
    font-family: poppins;
    background-image: url('imgs/bkg.jpg') ;
    background-position:center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.titulo {
    font-weight: bolder;
    font-size: 4vh;
    color: #ffffffad;
    display: flex;
    justify-content: center;
}

h1{
    color: #525270;
}
/* div.form label{
    display: inline-block;
 width: 18ch;
 

} */

/* div.form {
    display: flex;
    justify-content: center;
    width: 100vw;

} */

form {

    border: #6464be1a;
    padding: 30px, 30px;
    width: 45vh;
    border-radius: 15px;
    background-color: #6464be1a;  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    
}
form > div {
    display: grid;
    place-items: center;
    text-align: center;
    font-weight: bold;
    color: #000000d9;
    margin: 1vh;
    font-size: clamp(0.6rem, 1vw, 4rem);
    /* font-size: 0.6rem; */
    /* font-size: 1rem; */
}

.labels {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #403D3D;
}

.labels input {
/* adicione padding, width, height e margin */
padding: 5px;
width: 300px;
height: 20px;
}

.labels input[type=submit] {
    padding: 0;
    height: 50px;
    width: 200px;
    font-family: poppins;
    border-radius: 10px;
    
}

.busca {
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    /* margin: 10vh; */
}



.labelsBusca input {
    /* adicione padding, width, height e margin */
    padding: 5px;
    width: 100px;
    height: 20px;
    }
    
.labelsBusca input[type=submit] {
    padding: 0;
    height: 35px;
    width: 100px;
    font-family: poppins;
    border-radius: 5px;
    margin: 15px auto 0;
    display: block;
    justify-content: center;
}
.labelsBusca {
    display: block;
    width: 400px;
} 
.labelsBusca > div:first-child {
    display: flex;
}
.labelsBusca > div:first-child label {
    width: 8ch;
    display: flex;
    justify-content: center;
    align-items: center;
}
.labelsBusca > div:first-child input {
    flex-grow: 1;
}

form > echo {
    text-decoration: none;
    color: #d3d1d1d1;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
}
